{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AskMeFrolov</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './css/custom.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">AskMeFrolov</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Type question" aria-label="search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav d-flex align-items-center">
                        {% if user.is_authenticated %}
                        {% include "components/loginednavbar.html" %}
                        {% else %}
                        {% include "components/basenavbar.html" %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>


<main class="container mt-4">
    <div class="row">
        <div class="col-md-9">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-3">
            <section class="mt-4">
                <h2 class="h5">Popular Tags</h2>
                <div class="d-flex flex-wrap gap-2">
                    {% for tag in popular_tags %}
                    <span class="badge rounded-pill text-bg-primary">
                                <a class="text-decoration-none text-white" href="{% url 'tag' tag.id %}">
                                    {{ tag.tag }}
                                </a>
                            </span>
                    {% endfor %}
                </div>
            </section>

            <section class="mt-4">
                <h2 class="h5">Best Members</h2>
                <div>
                    <ul class="list-group list-group-flush">
                        {% if popular_users %}
                        {% for profile in popular_users %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% if profile.user.username %}
                            <span class="blue-text">{{ profile.user.username }}</span>
                            {% else %}
                            <span class="blue-text">Username not available</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                        {% else %}
                        <li class="list-group-item">No popular members found.</li>
                        {% endif %}
                    </ul>
                </div>
            </section>


        </div>
    </div>
</main>

<footer class="mt-auto bg-light py-3">
    <div class="container text-center">
        <p class="mb-0">© 2024 AskMeFrolov</p>
    </div>
</footer>

<script src="{% static './js/jquery.min.js' %}"></script>
<script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const likeButtons = document.querySelectorAll('.like-button');
        const dislikeButtons = document.querySelectorAll('.dislike-button');

        likeButtons.forEach(button => {
            button.onclick = function() {
                const questionId = this.getAttribute('data-question-id');
                voteQuestion(questionId, true);
            };
        });

        dislikeButtons.forEach(button => {
            button.onclick = function() {
                const questionId = this.getAttribute('data-question-id');
                voteQuestion(questionId, false);
            };
        });
    });

    function voteQuestion(questionId, isLike) {
        const action = isLike ? 'up' : 'down';
        const url = `/vote/question/${questionId}/${action}/`;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ action })
        }).then(response => {
            if (response.ok) {
                return response.json();
            } else {
                alert('Ошибка при голосовании.');
            }
        }).then(data => {
            if (data) {
                const ratingElement = document.querySelector(`#question-${questionId}-rating`);
                ratingElement.textContent = data.rating;

                const likeButton = document.querySelector(`.like-button[data-question-id="${questionId}"]`);
                const dislikeButton = document.querySelector(`.dislike-button[data-question-id="${questionId}"]`);

                if (data.is_like) {
                    likeButton.classList.add('liked');
                    dislikeButton.classList.remove('disliked');
                } else {
                    dislikeButton.classList.add('disliked');
                    likeButton.classList.remove('liked');
                }
            }
        });
    }

    function voteAnswer(answerId, isLike) {
                    fetch(`/vote/answer/${answerId}/${isLike? 'up' : 'down'}/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            alert('Ошибка при голосовании.');
                        }
                    }).then(data => {
                        const ratingElement = document.querySelector(`#answer-${answerId}-rating`);
                        ratingElement.textContent = data.rating;

                        const upvoteButton = document.querySelector(`.upvote-button[onclick="voteAnswer(${answerId}, true)"]`);
                        const downvoteButton = document.querySelector(`.downvote-button[onclick="voteAnswer(${answerId}, false)"]`);

                        if (isLike) {
                            upvoteButton.classList.add('upvoted');
                            downvoteButton.classList.remove('downvoted');
                        } else {
                            downvoteButton.classList.add('downvoted');
                            upvoteButton.classList.remove('upvoted');
                        }
                    });
                    location.reload();
        }

function toggleCorrectAnswer(answerId) {
    const checkbox = document.querySelector(`input[type="checkbox"][data-answer-id="${answerId}"]`);
    const currentCheckedState = checkbox.checked;

    console.log(`Запрос для ответа ID: ${answerId}. Текущее состояние: ${currentCheckedState}`);

    fetch(`/answer/${answerId}/toggle_correct/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        }
    }).then(response => {
        if (response.ok) {
            return response.json();
        } else {
            console.error("Ошибка: Неверный ответ от сервера.", response.status);
            throw new Error('Ошибка при изменении состояния');
        }
    }).then(data => {
        if (data.success) {
            checkbox.checked = !currentCheckedState;
            const message = checkbox.checked ? 'Отмечено как правильный ответ' : 'Снято с отметки правильного ответа';
            console.log(message);
        } else {
            alert("Вы не имеете прав на изменение этого значения.");
        }
    }).catch(err => {
        console.error("Ошибка:", err);
        alert("Произошла ошибка. Пожалуйста, попробуйте снова.");
        checkbox.checked = currentCheckedState;
    });
    location.reload();
}
</script>

</body>

</html>
